// Font
$font-primary: Helvetica, Arial, sans-serif;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Colors
$color-white: #fff;
$color-off-white: #f7f7f7;
$color-dark-white: #cacccd;

$color-grey-1: #666;
$color-grey-2: #888;
$color-dark-grey: #333;

$color-blue: #1c88bf;
$color-dark-blue: #364051;

$shadow-button: rgba(0, 0, 0, 0.2);

// Sizes
$full-height: 100vh;
$full-width: 100vw;
$loader-size: 6rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
